body{
    background-color: black;
    width: 100vw;
    height: 140vw;
    background-image: url("fundo.jpeg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 100%;    
}

.botao3 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: #39f743;
}
